.container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.image {
  max-width: 375px;
}

.text {
  margin: 15px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}
